.conteudoProduto
	div.row
		div.col-md-4
			div.containerProduto.z-depth-2
				img#zoom_05(src="../../../img/"+prod[0].tipo+'/'+prod[0].codigo+".jpg")
		div.col-md-8
			.row
				div.col-md-11
					div.containerNome
						h3 #{prod[0].nome}
			.row
				div.col-md-4
					div.containerPreco
						h5 R$ #{prod[0].valor}
				div.col-md-8
			.row
				div.col-md-4
					div.botaoCompra.z-depth-4 Comprar
				div.col-md-6
					div#botCarrinho.botaoCarrinho.z-depth-4(data-id=prod[0].codigo, data-tipo=prod[0].tipo) Adicionar ao Carrinho
			.row
				div.col-md-10
					div.descricao
						p #{prod[0].descricao}